.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  
 
  
 
  
 
  .dropdown{
    display: block;
  }
  .dropdown-content {
    display: none; /* Hide the dropdown content by default */
    position: absolute;
    margin-top: 50px; /* Position the dropdown content absolutely */
  
    z-index: 1;
  }
  .dropdown-content.show {
    display: block;
    z-index: 2; /* Show the dropdown content when the 'show' class is applied */
  }
  
  